@import "fonts.css";
/*@import "basic.css";*/
/*@import "about.css";*/
/*@import "meet-board.css";*/

.roman {
    font-family: "RomanSD", Times New Roman, sans-serif;
}

.cinzel-lg {
    font-family: "CinzelDeco", serif;
    font-weight: bold;
    font-size: min(6vw, 50px);
    cursor: default;
    pointer-events: none;
}

.cinzel-sm {
    font-family: "Cinzel", serif;
    font-weight: bold;
}

.bottom-banner-li {
    list-style-type: none;
    vertical-align: middle;
    cursor: pointer;
}

.article {
    font-family: "EBGaramond", serif;
    font-size: 17px;
    text-indent: 3ch;
    cursor: default;
    max-width: 100ch !important; /* tailwind override */
}

.article p {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

.title {
    text-align: center;
    font-family: "UtopiaBH", "ITC Cheltenham Std", serif;
    font-size: 48px;
    color: #2A3759 !important;
    cursor: default;
    margin: 0 !important;
}

.subtitle {
    text-align: center;
    font-family: "ITC Cheltenham Std", serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0;
    cursor: default;
    margin-bottom: 20px;
}

.author {
    text-align: center;
    font-family: "ITC Cheltenham Std", serif;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.author:hover {
    color: rgba(0, 0, 0, 0.4);
}