@font-face { font-family: "RomanSD"; src: url("../fonts/Roman_SD.ttf") format("truetype"); }
@font-face { font-family: "ITC Cheltenham Std"; src: url("../fonts/cheltenhamstd-book.otf") format("truetype"); }
@font-face { font-family: "Mercury Text G1 Roman"; src: url("../fonts/mercury-text-g1-roman.otf") format("truetype"); }
@font-face { font-family: "Cinzel"; src: url("../fonts/Cinzel-Bold.otf") format("truetype"); }
@font-face { font-family: "CinzelDeco"; src: url("../fonts/CinzelDecorative-Regular.otf") format("truetype"); }
@font-face { font-family: "EBGaramond"; src: url("../fonts/EBGaramond12-Regular.otf") format("truetype"); }
@font-face { font-family: "EBGaramondTitle"; src: url("../fonts/EBGaramondSC12-Regular.otf") format("truetype"); }

.about-flex {
	margin: 20px 30px 0 30px;
	/* opacity: 0; */
	/* animation: reveal 1s ease-out 400ms 1 normal forwards; */
	font-family: "ITC Cheltenham Std";
  /* max-height: 1000px;
  overflow: hidden; */
  width: 95%;
  /* height: 50px; */
}

.about-table {
  table-layout:fixed;
  width: 100%;
}

.about-col-1 {
  vertical-align: top;
}

.about-col-1 p {
  font-family: "Cinzel", "ITC Cheltenham Std";
	font-size: 22px;
	color: rgba(0, 0, 0, 0.7);
  float: right;
  margin: 0 15px 0 0;
  cursor: default;
}

.about-col-1 p:hover {
  color: rgba(0, 0, 15, 1);
}

.about-col-2 {
  width: 80%;
  padding: 10px 0 22px 0;
}

.staff-table {
  width: 600px;
  margin: auto;
}

.staff-table td {
  width: 200px;
  text-align: center;
}
