@font-face { font-family: "RomanSD"; src: url("../fonts/Roman_SD.ttf") format("truetype"); }
@font-face { font-family: "ITC Cheltenham Std"; src: url("../fonts/cheltenhamstd-book.otf") format("truetype"); }
@font-face { font-family: "Mercury Text G1 Roman"; src: url("../fonts/mercury-text-g1-roman.otf") format("truetype"); }
@font-face { font-family: "Cinzel"; src: url("../fonts/Cinzel-Bold.otf") format("truetype"); }
@font-face { font-family: "CinzelDeco"; src: url("../fonts/CinzelDecorative-Regular.otf") format("truetype"); }
@font-face { font-family: "EBGaramond"; src: url("../fonts/EBGaramond12-Regular.otf") format("truetype"); }
@font-face { font-family: "EBGaramondTitle"; src: url("../fonts/EBGaramondSC12-Regular.otf") format("truetype"); }

.content-panel {
	margin: 20px 30px 0 30px;
	/* opacity: 0; */
	/* animation: reveal 1s ease-out 400ms 1 normal forwards; */
	font-family: "ITC Cheltenham Std";
  /* max-height: 1000px;
  overflow: hidden; */
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 200px);
  grid-column-gap: 20px;
  grid-row-gap: 20px; */
}

/* .content-panel > div:nth-child(1) { grid-area: 1 / 1 / 4 / 4; }
.content-panel > div:nth-child(2) { grid-area: 1 / 4 / 2 / 5; }
.content-panel > div:nth-child(3) { grid-area: 2 / 4 / 3 / 5; }
.content-panel > div:nth-child(4) { grid-area: 3 / 4 / 4 / 5; }
.content-panel > div:nth-child(5) { grid-area: 4 / 1 / 5 / 3; }
.content-panel > div:nth-child(6) { grid-area: 4 / 3 / 5 / 4; }
.content-panel > div:nth-child(7) { grid-area: 4 / 4 / 5 / 5; }
.content-panel > div:nth-child(8) { grid-area: 5 / 2 / 6 / 3; }
.content-panel > div:nth-child(9) { grid-area: 5 / 3 / 6 / 4; }
.content-panel > div:nth-child(10) { grid-area: 5 / 1 / 7 / 2; }
.content-panel > div:nth-child(11) { grid-area: 6 / 2 / 7 / 3; }
.content-panel > div:nth-child(12) { grid-area: 6 / 3 / 7 / 4; }
.content-panel > div:nth-child(13) { grid-area: 5 / 4 / 7 / 5; } */

.article {
  overflow: hidden;
  padding: 10px;
  /* border-radius: 10px; */
}

/* .article:hover {
  background-color: rgba(0, 0, 0, 0.02);
} */
/* .content-panel > div:n */

.img-caption {
  height: 250px;
	max-width: 300px;
  float: left;
  margin: 20px 20px 0px 20px;
  cursor: pointer;
}

.img-caption img {
  height: 200px;
	max-width: 300px;
}

.img-caption img:hover {
  opacity: 0.6;
}

.img-caption div {
	margin: 0px 50px 20px 50px;
	text-align: center;
	font-family: "ITC Cheltenham Std";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
}

.img-caption div:hover {
  opacity: 0.6;
}

.content-panel p {
	/* font-family: "Mercury Text G1 Roman", sans-serif; */
  font-family: "EBGaramond";
  font-size: 17px;
	/* text-indent: 2em; */
	white-space: pre-line;
	margin-top: 0;
	margin-bottom: 0;
  cursor: pointer;
}

.title {
	text-align: center;
	font-family: "ITC Cheltenham Std";
	font-size: 23px;
	color: #04777d;
	margin-top: 0;
	margin-bottom: 0;
  cursor: pointer;
}

.title:hover {
  color: rgba(4, 119, 125, 0.6);
}

.author {
	text-align: center;
	font-family: "ITC Cheltenham Std";
	font-size: 17px;
	color: rgba(0, 0, 0, 0.6);
	margin-top: 0;
	margin-bottom: 10px;
  cursor: pointer;
}

.author:hover {
  color: rgba(0, 0, 0, 0.4);
}

.author-img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
